In [1]:
import findspark
findspark.init()
findspark.find()

import pyspark
findspark.find()

'C:\\BigDataLocalSetup\\spark'

In [2]:
import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[2]") \
    .appName("Recommendation_System_GoodBooks") \
    .getOrCreate()

sc = spark.sparkContext

In [3]:
spark

In [12]:
# Load Dataset
data = spark.read.format('com.databricks.spark.csv').\
                       options(header='true', \
                       inferschema='true').\
            load("book_tags.csv",header=True);

# Data Preparation

In [4]:
#import to_read data

file_location = "C:/Users/ITD-STU/PDB/Proyek/to_read.csv"
file_type = "csv"

# CSV optiAons
infer_schema = "True"
first_row_is_header = "True"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
to_read = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(to_read)

# Create Temporary Tables
to_read.createOrReplaceTempView("to_read")

DataFrame[user_id: int, book_id: int]

In [5]:
#import ratings data
file_location = "C:/Users/ITD-STU/PDB/Proyek/ratings.csv"
file_type = "csv"

# CSV options
infer_schema = "True"
first_row_is_header = "True"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
ratings = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(ratings)

# Create Temporary Tables
ratings.createOrReplaceTempView("ratings")

DataFrame[book_id: int, user_id: int, rating: int]

In [6]:
#import books data
file_location = "C:/Users/ITD-STU/PDB/Proyek/books.csv"
file_type = "csv"

# CSV options
infer_schema = "True"
first_row_is_header = "True"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
books = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sto_readep", delimiter) \
  .load(file_location)

display(books)

# Create Temporary Tables
books.createOrReplaceTempView("books")

DataFrame[id: int, book_id: int, best_book_id: int, work_id: int, books_count: int, isbn: string, isbn13: double, authors: string, original_publication_year: double, original_title: string, title: string, language_code: string, average_rating: string, ratings_count: string, work_ratings_count: string, work_text_reviews_count: string, ratings_1: double, ratings_2: int, ratings_3: int, ratings_4: int, ratings_5: int, image_url: string, small_image_url: string]

In [7]:
#converting books data into pandas dataframe
books_df = books.toPandas()
books_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715.0,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504.0,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191.0,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427.0,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236.0,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [8]:
import pandas as pd
import numpy as np

books_df = books_df[books_df.ratings_count.str.isdigit() == True]

In [9]:
books_df.ratings_count = books_df.ratings_count.astype('int')

In [10]:
#Top books with most number of ratings on goodbooks

books_df.sort_values(by = 'ratings_count', ascending = False)[['original_title','ratings_count', 'average_rating' ]][0:10]

                             original_title  ratings_count average_rating
0                          The Hunger Games        4780653           4.34
1  Harry Potter and the Philosopher's Stone        4602479           4.44
2                                  Twilight        3866839           3.57
3                     To Kill a Mockingbird        3198671           4.25
4                          The Great Gatsby        2683664           3.89
5                    The Fault in Our Stars        2346404           4.26
6        The Hobbit or There and Back Again        2071616           4.25
7                    The Catcher in the Rye        2044241           3.79
9                       Pride and Prejudice        2035490           4.24
8                          Angels & Demons         2001311           3.85

In [11]:
most_ratings = books_df.sort_values(by = 'ratings_count', ascending = False)[['original_title','ratings_count', 'average_rating', 'image_url' ]][0:10]


#### Printing top books with most number of ratings

In [12]:
from IPython.display import Image, HTML

most_ratings['img_html'] = most_ratings['image_url']\
    .str.replace(
        '(.*)', 
        '<img src="\\1" style="max-height:124px;"></img>'
    )
with pd.option_context('display.max_colwidth', 10000):
  
  display(HTML(most_ratings[['original_title', 'img_html', 'ratings_count', 'average_rating' ]].to_html(escape=False)))

In [13]:
books_df.average_rating = books_df.average_rating.astype('float')

In [14]:
#Top books with top average ratings on goodbooks

books_df.sort_values(by = 'average_rating', ascending = False)[['original_title','ratings_count', 'average_rating' ]][0:10]

,original_title,ratings_count,average_rating
3627,The Complete Calvin and Hobbes,28900,4.82
861,Words of Radiance,73572,4.77
3274,None,33220,4.77
8853,Mark of the Lion Trilogy,9081,4.76
7946,None,8953,4.76
4482,It's a Magical World: A Calvin and Hobbes Coll...,22351,4.75
6360,There's Treasure Everywhere: A Calvin and Hobb...,16766,4.74
421,Complete Harry Potter Boxed Set,190050,4.74
6589,The Authoritative Calvin and Hobbes,16087,4.73
6919,The Indispensable Calvin and Hobbes: A Calvin ...,14597,4.73

In [15]:
high_rating_books = books_df.sort_values(by = 'average_rating', ascending = False)[['original_title','ratings_count','image_url', 'average_rating' ]][0:10]

#### Printing top books with highest average ratings

In [16]:
high_rating_books['img_html'] = high_rating_books['image_url']\
    .str.replace(
        '(.*)', 
        '<img src="\\1" style="max-height:124px;"></img>'
    )
with pd.option_context('display.max_colwidth', 10000):
  
  display(HTML(high_rating_books[['original_title', 'img_html','ratings_count', 'average_rating' ]].to_html(escape=False)))

In [17]:
import matplotlib.pyplot as plt
plt.figure(figsize=(12,6))
plt.title('Distribution of Average Ratings')
books_df['average_rating'].hist()
display()

In [18]:
ratings.show(5)

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|      1|    314|     5|
|      1|    439|     3|
|      1|    588|     5|
|      1|   1169|     4|
|      1|   1185|     4|
+-------+-------+------+
only showing top 5 rows

In [19]:
# Use .printSchema() to see the datatypes of the ratings dataset
ratings.printSchema()

root
 |-- book_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- rating: integer (nullable = true)

In [20]:
# Convert the columns to the proper data types
ratings = ratings.select(ratings.user_id,
                         ratings.book_id,
                         ratings.rating.cast("double"))

In [21]:
# Call .printSchema() again to confirm the columns are now in the correct format
ratings.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- book_id: integer (nullable = true)
 |-- rating: double (nullable = true)

# EXPLORATORY DATA ANALYSIS (EDA)

#### Sparsity

Menghitung rasio antara sel kosong / semua sel dalam matriks.

In [22]:
ratings.show(5)

+-------+-------+------+
|user_id|book_id|rating|
+-------+-------+------+
|    314|      1|   5.0|
|    439|      1|   3.0|
|    588|      1|   5.0|
|   1169|      1|   4.0|
|   1185|      1|   4.0|
+-------+-------+------+
only showing top 5 rows

In [23]:
# Count the total number of ratings in the dataset
numerator = ratings.select("rating").count()

# Count the number of distinct Id's
num_users = ratings.select("user_id").distinct().count()
num_items = ratings.select("book_id").distinct().count()

# Set the denominator equal to the number of users multiplied by the number of items
denominator = num_users * num_items

# Divide the numerator by the denominator
sparsity = (1.0 - (numerator * 1.0)/ denominator) * 100
print("The ratings dataframe is ", "%.2f" % sparsity + "% empty.")

The ratings dataframe is  99.82% empty.

#### The GroupBy and Filter Methods

In [24]:
# Exploratory Data Analysis (EDA)
from pyspark.sql.functions import col, min, max, avg, lit

# Group data by user_id, count ratings
(ratings.groupBy("user_id")
    .count()
    .filter("`count` > 1")
    .sort(col("count").desc())
    .show(n = 10))

+-------+-----+
|user_id|count|
+-------+-----+
|  12874|  200|
|  30944|  200|
|  52036|  199|
|  12381|  199|
|  28158|  199|
|  45554|  197|
|   6630|  197|
|  37834|  197|
|  24143|  196|
|   9668|  196|
+-------+-----+
only showing top 10 rows

In [25]:
# Group data by book_id, count ratings
(ratings.groupBy("book_id")
    .count()
    .filter("`count` > 1")
    .sort(col("count").desc())
    .show(n = 10))

+-------+-----+
|book_id|count|
+-------+-----+
|    148|  100|
|    463|  100|
|    471|  100|
|    496|  100|
|    833|  100|
|   1088|  100|
|   1238|  100|
|   1342|  100|
|   1580|  100|
|   1591|  100|
+-------+-----+
only showing top 10 rows

Split data menjadi training dan test set untuk menggunakan metode pemfilteran Alternate Least Square

In [26]:
(training, test) = ratings.randomSplit([0.8, 0.2])

In [27]:
test.show(5)

+-------+-------+------+
|user_id|book_id|rating|
+-------+-------+------+
|      1|   1180|   4.0|
|      7|   1071|   4.0|
|      7|   1199|   4.0|
|      7|   1801|   5.0|
|      7|   2129|   5.0|
+-------+-------+------+
only showing top 5 rows

# MACHINE LEARNING (ML)

I will use the ALS model to factorize the sparse user-book matrix into two separate matrixes. When we reverse this process and multiply two factor matrixes, we will get an approximation for each cell in the initial matrix, also those cells that were blank. Every cell will be filled with numbers. Those values that were present in the initial matrix, will act as a label for the training process. The model will try to minimize the difference between actual values and values from the multiplication of factor matrixes. In some sense, as a byproduct, it predicts the empty values.

The factorization algorithm will be non-negative matrix factorization (NMF or NNMF), because we want to have only positive values. In goodreads book rating system ratings are only positive (0-5).

In [28]:
# Machine Learning (ML)
from pyspark.ml.recommendation import ALS # Alternating Least Squares model
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator # Cross-Validation
from pyspark.ml.evaluation import RegressionEvaluator # Performance metric

#### 1.Cross Validation Pipeline

In [29]:
# Create Generic ALS model - without hyperparameters
als = ALS(userCol="user_id", itemCol="book_id", ratingCol="rating", 
          nonnegative = True, # Non negative matrix factorization
          coldStartStrategy = "drop", # What to do if user do not appear in train and test set
          implicitPrefs = False) # Explicit preference

In [30]:
# Confirm that a model called "als" was created
type(als)

pyspark.ml.recommendation.ALS

##### Train test split

In [31]:
# Create test and train set
(train, test) = ratings.randomSplit([0.8, 0.2], 
                                    seed = 1234)
print(type(train))

<class 'pyspark.sql.dataframe.DataFrame'>

#### Hyperparameter Grid

In [32]:
# Add hyperparameters and their respective values to param_grid
param_grid = ParamGridBuilder() \
            .addGrid(als.rank, [10, 50, 100]) \
            .addGrid(als.maxIter, [5, 50, 100]) \
            .addGrid(als.regParam, [.01, .05, .1]) \
            .build()

#### Performance metric

In [33]:
# Define evaluator as RMSE
evaluator = RegressionEvaluator(metricName = "rmse", 
                                labelCol = "rating", 
                                predictionCol = "prediction")
# Print length of evaluator
print ("Num models to be tested: ", len(param_grid))

Num models to be tested:  27

#### Cross validation

In [34]:
# Build cross validation using CrossValidator
CV = CrossValidator(estimator = als, 
                    estimatorParamMaps = param_grid, 
                    evaluator = evaluator, 
                    numFolds = 5)
# Confirm cv was built
print(CV)

CrossValidator_9f40aea00f1c

### Alternating Least Squares Model (ALS)

#### Generic model

In [35]:
# Fit generic model to the 'train' dataset
als_mod = als.fit(train)
test_pred = als_mod.transform(test)

# View the predictions 
test_pred.show(n = 10)

+-------+-------+------+----------+
|user_id|book_id|rating|prediction|
+-------+-------+------+----------+
|  20467|    148|   3.0| 2.9498854|
|   3087|    148|   3.0| 3.4246397|
|  10727|    148|   4.0|  3.463639|
|  41282|    148|   3.0| 4.1684895|
|  24326|    148|   5.0| 3.3978052|
|  32055|    148|   3.0| 3.0658822|
|  27834|    148|   3.0| 3.8550665|
|  13991|    148|   4.0| 3.7695687|
|  15547|    148|   4.0| 2.9707792|
|  14248|    148|   4.0| 3.5740411|
+-------+-------+------+----------+
only showing top 10 rows

In [37]:
# Calculate and print the RMSE of test_predictions
print(evaluator.evaluate(test_pred))

0.9189729726839494

#### Predictions and Performance Evaluation

In [38]:
best_model = als_mod

In [39]:
test_predictions = best_model.transform(test)

# View the predictions 
test_predictions.show(n = 10)

# Calculate and print the RMSE of test_predictions
print ("RMSE: ", evaluator.evaluate(test_predictions))

+-------+-------+------+----------+
|user_id|book_id|rating|prediction|
+-------+-------+------+----------+
|  20467|    148|   3.0| 2.9498854|
|   3087|    148|   3.0| 3.4246397|
|  10727|    148|   4.0|  3.463639|
|  41282|    148|   3.0| 4.1684895|
|  24326|    148|   5.0| 3.3978052|
|  32055|    148|   3.0| 3.0658822|
|  27834|    148|   3.0| 3.8550665|
|  13991|    148|   4.0| 3.7695687|
|  15547|    148|   4.0| 2.9707792|
|  14248|    148|   4.0| 3.5740411|
+-------+-------+------+----------+
only showing top 10 rows

RMSE:  0.9189729726839494

#### Model Performance Evaluation and Output Cleanup

In [40]:
# Generate n recommendations for all users
ALS_recommendations = best_model.recommendForAllUsers(numItems = 10) # n - 10

Berikut hasil 10 rekomendasi untuk semua pengguna. Ini juga dapat menghasilkan rekomendasi untuk buku yang telah dibaca pengguna.

In [41]:
ALS_recommendations.show(n = 10)

+-------+--------------------+
|user_id|     recommendations|
+-------+--------------------+
|    148|[[7844, 4.665287]...|
|    463|[[2520, 4.7682147...|
|    471|[[1338, 3.3588536...|
|    496|[[3275, 5.43346],...|
|    833|[[6634, 4.9594917...|
|   1088|[[8362, 4.948252]...|
|   1238|[[3498, 4.3530307...|
|   1342|[[3024, 5.0214396...|
|   1580|[[4835, 5.099584]...|
|   1591|[[8946, 3.2931614...|
+-------+--------------------+
only showing top 10 rows

In [42]:
# Temporary table
ALS_recommendations.registerTempTable("ALS_recs_temp")

In [43]:
clean_recs = spark.sql("""SELECT user_id,
                            movieIds_and_ratings.book_id AS book_id,
                            movieIds_and_ratings.rating AS prediction
                        FROM ALS_recs_temp
                        LATERAL VIEW explode(recommendations) exploded_table
                            AS movieIds_and_ratings""")
clean_recs.show()

+-------+-------+----------+
|user_id|book_id|prediction|
+-------+-------+----------+
|    148|   7844|  4.665287|
|    148|   9842|   4.52721|
|    148|   5990|  4.524595|
|    148|   1577|  4.478451|
|    148|   6227|  4.472785|
|    148|   7923| 4.4713016|
|    148|   7081|  4.470911|
|    148|    192| 4.4651136|
|    148|   2613| 4.4623384|
|    148|    422| 4.4585423|
|    463|   2520| 4.7682147|
|    463|   7715|   4.76076|
|    463|   4154| 4.6893597|
|    463|   8976| 4.6779814|
|    463|   8563| 4.6756067|
|    463|   7233| 4.5323725|
|    463|   3558|   4.52192|
|    463|   9483| 4.5159116|
|    463|   6702|  4.514759|
|    463|   6947| 4.5045276|
+-------+-------+----------+
only showing top 20 rows